/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
$purple-app-primary: mat-palette($mat-deep-purple);
$purple-app-accent:  mat-palette($mat-amber, A200, A100, A400);

// The warn palette is optional (defaults to red).
$purple-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$purple-app-theme: mat-light-theme($purple-app-primary, $purple-app-accent, $purple-app-warn);

$primary:mat-color($purple-app-primary);
$accent:mat-color($purple-app-accent);
$warn:mat-color($purple-app-warn);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

div.fondo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $primary;
}


